body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* card effects */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new page add button styling */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit page button */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page styling */
.show-img {
  height: 30vh;
}

/* buttons */
.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map container */
#map {
  height: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

/* Leaflet controls */
.leaflet-control-zoom a {
  background-color: #ff385c;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.leaflet-control-zoom a:hover {
  background-color: #e03150;
}

/* Popups */
.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.leaflet-popup-content b {
  color: #ff385c;
}
